@font-face {
	font-family: 'Hero';
	src: url('../fonts/hero.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/hero.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/hero.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/hero.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/hero.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/hero.svg#hero') format('svg'); /* Chrome < 4, Legacy iOS */
}
