@font-face {
  font-family: 'czizh';
  src: url(/v4sources/fonts/czizh.ttf);
}

@font-face {
  font-family: 'caviar';
  src: url(/v4sources/fonts/caviar.ttf);
}

@font-face {
  font-family: 'ac';
  src: url(/v4sources/fonts/ac.ttf);
}

@font-face {
  font-family: 'hero';
  font-weight: 100;
  src: url(/v4sources/fonts/heroThin.ttf);
}

@font-face {
  font-family: 'hero';
  font-weight: 500;
  src: url(/v4sources/fonts/heroRegular.ttf);
}

@font-face {
  font-family: 'zekton';
  src: url(/v4sources/fonts/zekton.ttf);
}


@font-face {
  font-family: 'biocad';
  src: url('BiocadDisplay-Bold.eot');
  src: url('/v4sources/fonts/BiocadDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'biocad';
  src: url('BiocadDisplay-Regular.eot');
  src: url('/v4sources/fonts/BiocadDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




body {
  margin: 0; padding: 0;
  font-family: 'hero';
}

#app {
  margin: 0; padding: 0;
}